# User-specific files
*.rsuser
*.suo
*.user
*.userresourcecode
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
SDK/
bld/
[Bb]in/
[Oo]bj/
[Log]/

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/

# Visual Studio Code cache directory
.vscode/

# Rider cache directory
.idea/

# MonoGame Content Pipeline build cache
Content/bin/
Content/obj/
